#fullScreen {
	background: url("../pics/newBackground.jpg") no-repeat center center / cover;
	background-attachment: fixed;
	background-size: 100%;
	height: 100vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column;
	margin: 0;
	font-size:400%;
	-webkit-box-sizing: border-box;

}

#secondScreen {
	background: url("../pics/background.jpg") no-repeat center center / cover;
	background-attachment: fixed;
	background-size: 100%;
	height: 100vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column;
	padding-bottom: 3%;
	margin: 0;
	-webkit-box-sizing: border-box;

}

#contact {
	padding: 5%;
}

#resume {
	background-color: rgb(180, 180, 180);
	padding: 5%;
	padding-left: 10%;
}

.carousel-inner > .item > img{
	width: 100%;
}
.carousel .item{
    min-height: 280px; /* Prevent carousel from being distorted if for some reason image doesn't load */
}

.carousel .item img{
    margin: 0 auto; /* Align slide image horizontally center */
}

h1 {
	color: white;
}

h3 {
	color: white;
}

.mouse-icon .scroll {
    animation-delay: 0s;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-name: scrolling;
    animation-play-state: running;
    animation-timing-function: linear;
}
.mouse-icon .scroll {
    background: #fff none repeat scroll 0 0;
    border-radius: 10px;
    height: 10px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 4px;
    width: 4px;
}

.row{
	margin-right: -15px;
	margin-left: -15px;"
}

.header {
	color: white;
	margin: 4%;
}
.navbar-nav > li{
  padding-left:20px;
  padding-right:20px;
}

a.lastbtn {
	margin-right: 60px;
}
